.app {
    .link {
      color: white;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
    }

    .link.active{
      color: rgba(245, 245, 245, 0.8);
    }

    .link + .link {
        margin-left: 10px;
    }
}
